aside {
  width: 41%;
  display : inline-block;
  padding-top: 80px;
  padding-left: 60px;
}
aside img{
    width : 500px;
    border-radius : 10px
}
main {
    color : #3F009C;
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    width: 50%;
    vertical-align: top;
}
h1{
    margin:0px;
    padding-top:80px;
    padding-bottom:10px;
    font-size: 60px;
    font-weight: normal;
}
h2{
    display:inline;
    font-weight:normal;
    font-size: 40px;
}
p{
    margin-top:10px;
    color:grey;
    font-size: 25px;
}